<!DOCTYPE html>
<html lang="ltn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <div class="home-container">
        <h1 class="text-aligned">eTeacher.lt</h1>
            <form class="code-form text-aligned" method="post">
                <input name="code" maxlength="4" placeholder="Pvz: ABCD" type="text">
                <button type="submit">Pradėti</button>
            </form>
    </div>
</body>
</html>
