<!DOCTYPE html>
<html lang="lt">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>eTeacher.lt pamoka – {{ page }} puslapis</title>
</head>
<body>
  <h2>Kodas: {{ code }}</h2>
  <div>{{ content|safe }}</div>
  <div style="margin-top:1rem;">
  {% if page > 1 %}
    <a style="margin-left:1rem;" href="{{ url_for('lesson_page', code=code, page=page-1) }}">Ankstesnis</a>
  {% endif %}
  {% if has_next %}
    <a style="margin-left:1rem;" href="{{ url_for('lesson_page', code=code, page=page+1) }}">Kitas</a>
  {% else %}
    <a style="margin-left:1rem;" href="{{ url_for('index') }}">Baigti pamoka</a>
  {% endif %}
</div>
</body>
</html>
